@font-face {
    font-family: MyriadProBold;
    src: url(../fonts/MyriadPro-BoldCond.otf);
}

@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-Cond.otf);
}

/*general styles start*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: MyriadProBold, 'Arial', sans-serif;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.page-link {
    text-decoration: none;
    color: inherit;
}

.black-text {
    color: #000000;
}

.red-text {
    color: #FF0000;
}

.grey-text {
    color: #646363;
}

/*general styles end*/

/*header styles start*/

/*navigation styles start*/

.navigation {
    position: fixed;
    width: 100%;
}

.navigation_style_direct {
    background-color: rgba(82, 76, 68, 0.5);
    color: #FFFFFF;
    font-size: 24px;
}

.navigation__item {
    display: inline-block;
    padding: 10px;
    margin-right: 34px;
}

/*navigation styles end*/

/*introduction info styles start*/

.introduction-info {
    height: 640px;
}

.introduction-info_style_direct {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*logo-phone section styles start*/

.logo-phone {
    padding-top: 60px;
    color: #FFFFFF;
    justify-content: space-between;
}

.logo {
    width: 270px;
}

.logo__text_style_direct {
    font-size: 42px;
    line-height: 56px;
    border-bottom: 2px solid #FFFFFF;
}

.logo__tagline_style_direct {
    font-family: MyriadPro;
    font-size: 25px;
    line-height: 40px
}

.phone-order__number_style_direct {
    font-size: 48px;
    line-height: 70px
}

.phone-order__order-button_style_direct {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    background-image:linear-gradient(#fefefe 55%, #efefef);
    border: none;
}

/*logo-phone section styles end*/

/*main title stlyes start*/

.main-title_style_direct {
    font-size: 32px;
    padding-top: 56px;
}

.main-title__text,
.arrow-continer {
    text-align: center;
}

.arrow-continer {
    display: inline-block;
    width: 210px;
    background-image: url(../img/arrow-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.arrow-text {
    position: relative;
    left: -5px;
}

/*main title stlyes end*/

/*introduction info styles end*/