@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-Cond.otf);
}

/*general styles start*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: MyriadPro, 'Arial', sans-serif;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.page-link {
    text-decoration: none;
    color: inherit;
}

.black-text {
    color: #000000;
}

.red-text {
    color: red;
}

/*general styles end*/

/*header styles start*/

.navigation {
    position: fixed;
    width: 100%;
}

.navigation_style_direct {
    background-color: rgba(82, 76, 68, 0.5);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.navigation__item {
    display: inline-block;
    padding: 10px;
    margin-right: 50px;
}

.introduction-info {
    height: 640px;
}

.introduction-info_style_direct {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-phone {
    padding-top: 60px;
    color: #FFFFFF;
    justify-content: space-between;
}

.logo {
    width: 270px;
}

.logo__text_style_direct {
    font-size: 42px;
    line-height: 56px;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
}

.logo__tagline_style_direct {
    font-size: 27px;
    line-height: 40px
}

.phone-order_style_direct {
    font-weight: bold;
}

.phone-order__number_style_direct {
    font-size: 52px;
    line-height: 70px
}

.phone-order__order-button_style_direct {
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 25px;
    background-image:linear-gradient(#fefefe 55%, #efefef);
    border: none;
}